body {
    background-image: url("fondo2.jpg"); 
    background-size: cover;
    font-family: "Comic Sans MS", cursive, sans-serif;  
  }
  .titulo2 {
    color: white; 
    text-align: center; 
    text-shadow: 2px 2px 4px #000000; 
  }
  .parrafo2 {
    color: rgb(251, 255, 0); 
    text-align: justify; 
    margin: 20px;
    font-weight: bold; 
  }